.join {
  width: 206px;
}

.join__list {
  display: flex;
  justify-content: space-between;
}

.join__link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join__link:hover,
.join__link:hover {
  background-color: $text-hover-focus;
  transition: 250ms $time-distribution-function;
}

.join__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
